.home_text{
    text-align: center;
}
.home_align{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.home_bottom{
    font-size: 400px;
}





/* UNDERSTANDING GRID AREA PROPERTY */
/* .topNavBar{
    display: grid;
    grid-area: 1/2/4/6;
} */